.button {
	@apply px-4 py-2 inline-flex items-center justify-center;
	@apply rounded-lg text-base font-semibold transition-all duration-200;
	@apply focus:ring-2 focus:ring-offset-2 focus:ring-offset-neutral-900 focus:ring-opacity-50;

	/* Sizing Controls */
	&.small {
		@apply px-3 py-1 h-8 font-medium text-sm;
	}

	&.large {
		@apply px-6 py-3 h-12;
	}

	&.secondary {
		@apply text-white bg-white/10;

		&:hover {
			@apply bg-white/20;
		}

		&:disabled {
			@apply bg-white/5;
		}
	}

	&:disabled {
		@apply cursor-not-allowed opacity-50;
	}

	&.square {
		@apply p-0 w-10 h-10;

		&.small {
			@apply w-8 h-8;
		}
	}
}

.primary {
	@apply bg-cyan-700 text-white;
	@apply hover:bg-cyan-600 active:bg-cyan-800 focus:ring-cyan-600;

	&.secondary {
		@apply hover:bg-cyan-700 active:bg-cyan-700;
	}

	&:disabled {
		@apply bg-cyan-900 text-neutral-400;
	}
}

.text {
	@apply bg-white/5 text-neutral-200;
	@apply hover:bg-white/10 active:bg-white/20 focus:ring-white/20;

	&.secondary {
		@apply hover:bg-white/10 active:bg-white/10;
	}

	&:disabled {
		@apply bg-white/5 text-neutral-500;
	}
}

.danger {
	@apply bg-red-600 text-white;
	@apply hover:bg-red-500 active:bg-red-700 focus:ring-red-500;

	&.secondary {
		@apply hover:bg-red-600 active:bg-red-600;
	}

	&:disabled {
		@apply bg-red-800 text-neutral-400;
	}
}
