.stat_block {
	@apply flex items-center rounded-lg shadow-lg relative overflow-hidden;
	@apply col-span-3 md:col-span-2 lg:col-span-6;
	@apply px-3 py-2 md:p-3 lg:p-4;
	@apply bg-white/[0.03] backdrop-blur-sm border border-white/[0.05];

	& > .status_bar {
		@apply w-1 h-full absolute left-0 top-0 rounded-l sm:hidden;
	}

	& > .icon {
		@apply hidden flex-shrink-0 items-center justify-center rounded-lg shadow-md w-12 h-12;
		@apply transition-colors duration-500;
		@apply sm:flex sm:mr-4;
		@apply bg-white/[0.05];

		& > svg {
			@apply w-6 h-6 m-auto;
		}
	}
}

.terminal {
	@apply flex flex-col w-full;

	& .overflows_container {
		@apply -ml-4 sm:ml-0;
		width: calc(100% + 2rem);

		@screen sm {
			@apply w-full;
		}
	}

	& > .container {
		@apply rounded-t-lg p-1 sm:p-2 bg-neutral-900/50 backdrop-blur-md min-h-[16rem] flex-1 font-mono text-sm border-x border-t border-white/[0.05];

		& #terminal {
			@apply h-full;

			&::-webkit-scrollbar-track {
				@apply w-2;
			}

			&::-webkit-scrollbar-thumb {
				@apply bg-white/[0.1];
			}
		}
	}

	& .command_icon {
		@apply flex items-center top-0 left-0 absolute z-10 select-none h-full px-3 transition-colors duration-100;
	}

	& .command_input {
		@apply relative bg-neutral-900/50 backdrop-blur-md px-2 text-gray-100 pl-10 pr-4 py-2 w-full font-mono text-sm sm:rounded-b-lg border border-white/[0.05];
		@apply focus:ring-0 outline-none focus-visible:outline-none;
		@apply transition-colors duration-100;
		@apply active:border-cyan-500/50 focus:border-cyan-500/50;
	}
}

.chart_container {
	@apply bg-white/[0.03] backdrop-blur-sm rounded-lg shadow-lg pt-2 border border-white/[0.05] relative;
}
