.manager_actions {
	@apply grid grid-cols-2 sm:grid-cols-3 w-full gap-4 mb-4;

	& button {
		@apply w-full first:col-span-2 sm:first:col-span-1;
	}

	@screen md {
		@apply flex flex-1 justify-end mb-0;

		& button {
			@apply w-auto;
		}
	}
}

.file_row {
	@apply flex items-center cursor-pointer text-sm no-underline mb-2;
	@apply bg-white/[0.03] border border-white/[0.05] rounded-lg transition-all duration-200;
	@apply hover:text-neutral-100 hover:bg-white/[0.08] hover:border-white/[0.1];

	& > .details {
		@apply flex flex-1 items-center text-neutral-300 no-underline pl-2 pr-4 py-2 overflow-hidden truncate;

		&:not(a) {
			@apply cursor-default;
		}
	}
}
