.icons {
	@apply flex space-x-1 mx-2 transition-colors duration-100 text-neutral-500;

	& svg {
		@apply px-1 py-px cursor-pointer hover:text-neutral-50 h-5 w-auto;
	}
}

.description {
	@apply mt-1 text-sm break-words line-clamp-2 pr-4 text-neutral-300;

	& strong {
		@apply text-cyan-400 font-semibold break-all;
	}
}
