name: Build

on:
  pull_request:
    branches:
      - "1.0-develop"

jobs:
  ui:
    name: UI
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      fail-fast: false
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile
      - run: bun run type-check
      - run: bun run lint
      - run: bun run build:production
