name: Release
on:
  push:
    branches:
      - "**"
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install --frozen-lockfile
      - run: bun run type-check
      - run: bun run lint
      - run: bun run test

      - name: Build & Package DEVELOPMENT
        run: |
          mkdir -p target
          bun run package:dev
          mv panel.tar.gz target/panel-dev.tar.gz

      - name: Build & Package DEVELOPMENT-HASHED
        run: |
          bun run package:dev-hash
          mv panel.tar.gz target/panel-dev-hash.tar.gz

      - name: Build & Package DEVELOPMENT-HASHED-COMPRESS
        run: |
          bun run package:dev-hash-compress
          mv panel.tar.gz target/panel-dev-hash-compress.tar.gz

      - name: Build & Package DEVELOPMENT-HASHED-SPLIT
        run: |
          bun run package:dev-hash-split
          mv panel.tar.gz target/panel-dev-hash-split.tar.gz

      - name: Build & Package DEVELOPMENT-HASHED-SPLIT-COMPRESS
        run: |
          bun run package:dev-hash-split-compress
          mv panel.tar.gz target/panel-dev-hash-split-compress.tar.gz

      - name: Build & Package PRODUCTION
        run: |
          bun run package:prod
          mv panel.tar.gz target/panel-prod.tar.gz

      - name: Build & Package PRODUCTION-COMPRESS
        run: |
          bun run package:prod-compress
          mv panel.tar.gz target/panel-prod-compress.tar.gz

      - name: Build & Package PRODUCTION-SPLIT
        run: |
          bun run package:prod-split
          mv panel.tar.gz target/panel-prod-split.tar.gz

      - name: Build & Package PRODUCTION-COMPRESS-SPLIT
        run: |
          bun run package:prod-compress-split
          mv panel.tar.gz target/panel-prod-compress-split.tar.gz
          cp target/panel-prod-compress-split.tar.gz target/panel.tar.gz

      - name: Automatic Releases
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "Latest Automated Build"
          files: |
            target/panel-dev.tar.gz
            target/panel-dev-hash.tar.gz
            target/panel-dev-hash-compress.tar.gz
            target/panel-dev-hash-split.tar.gz
            target/panel-dev-hash-split-compress.tar.gz
            target/panel-prod.tar.gz
            target/panel-prod-compress.tar.gz
            target/panel-prod-split.tar.gz
            target/panel-prod-compress-split.tar.gz
