name: Release
on:
  push:
    branches:
      - "**"
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install --frozen-lockfile
      - run: bun run type-check
      - run: bun run lint
      - run: bun run test

      - name: Build & Package DEVELOPMENT
        run: |
          bun run package:dev
          mv panel.tar.gz panel-dev.tar.gz

      - name: Build & Package DEVELOPMENT-HASHED
        run: |
          bun run package:dev-hash
          mv panel.tar.gz panel-dev-hash.tar.gz

      - name: Build & Package PRODUCTION
        run: |
          bun run package:prod
          mv panel.tar.gz panel-prod.tar.gz
          cp panel-prod.tar.gz panel.tar.gz

      - name: Automatic Releases
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "Latest Automated Build"
          files: |
            panel-dev.tar.gz
            panel-dev-hash.tar.gz
            panel-prod.tar.gz
            panel.tar.gz
